# Hugo generated output
/public/
/resources/

# Temporary files and caches
*.lock
hugo_stats.json
.hugo_build.lock
.DS_Store  # macOS-specific

# Editor and IDE files
.vscode/
.idea/
*.swp
*.swo

# Sensitive or local config
.env